body {
  margin: 0px;
  -webkit-box-sizing: border-box;
  background: #99ccaa;
  padding: 2em;
  height: 100%;
  margin: 0px; }
  body h1 {
    color: black; }
  body h2 {
    color: rgba(0, 0, 0, 0.4); }
  body .columns {
    -webkit-column-width: 15em;
    -webkit-column-gap: 2em;
    -webkit-column-rule: 1px dashed rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.75); }
  body .credit {
    float: right;
    color: rgba(0, 0, 0, 0.4); }
