body {
  margin: 0px; }

#template {
  background: #99ccaa;
  padding: 2em;
  height: 100%;
  margin: 0px;
  -webkit-box-sizing: border-box; }
  #template h1 {
    color: black; }
  #template h2 {
    color: rgba(0, 0, 0, 0.4); }
  #template .columns {
    -webkit-column-width: 15em;
    -webkit-column-gap: 2em;
    -webkit-column-rule: 1px dashed rgba(0, 0, 0, 0.2);
    color: rgba(0, 0, 0, 0.75); }
  #template .credit {
    float: right;
    color: rgba(0, 0, 0, 0.4); }
