%script{:type => "text/javascript", :src => "Hyphenator.js"}

#main
  .title
    %h1 Glassy Blog
  #wrapper
    #content
      %h2 The Elder Scrolls III: Morrowind

      %p The Elder Scrolls III: Morrowind, often simply referred to as Morrowind, is a single-player computer role-playing game developed by Bethesda Game Studios, and published by Bethesda Softworks and Ubisoft. It is the third installment in The Elder Scrolls series of games. It was released in North America in 2002 for Microsoft Windows and the Xbox. Well-received publicly and critically, with over four million sales and more than 60 awards (including Game of the Year), Morrowind holds an average review score of 89% from both Metacritic and Game Rankings. The game spawned two expansion packs for the PC: Tribunal and Bloodmoon. Both were eventually repackaged into a full set containing all three, Morrowind: Game of the Year Edition, which shipped on October 30, 2003 for both PC and Xbox.
      %p The main story takes place on Vvardenfell, an island in the Dunmer province of Morrowind, which lies in the empire of Tamriel and is far from the more civilized lands to the west and south that typified Daggerfall and Arena. The central quests concern the deity Dagoth Ur, housed within the volcanic Red Mountain, who seeks to gain power and break Morrowind free from Imperial reign. Morrowind was designed with an open-ended free-form style of gameplay in mind, with a lessened emphasis on the game's main plot. This choice received mixed reviews in the gaming press, though such feelings were tempered by reviewers' appreciation of Morrowind's expansive and detailed game world.
      %h3 Character creation
      %p Morrowind begins with the player's character, imprisoned for reasons unknown, arriving in Morrowind by boat in order to be pardoned. This is common throughout the main installments of the series. A well-received tutorial depicting the prisoner's release moves the player through the process of character creation. The player is successively asked questions by a fellow prisoner, an officer, and a bureaucrat as the player is registered as a free citizen; choosing, in the process, the player character's name, race, gender, class, and birthsign. These affect the player's starting attributes, skills, and abilities. In a throwback to the Ultima series, the player has an opportunity to answer a series of moral questions to determine his class.
      %h3 Skill system
      %p The player character's proficiency with a skill is increased either by practice, training or study. Practice involves performing the specific actions associated with a given skill, which gradually raises the character's proficiency in that skill. Raising weapon skills requires striking an enemy with the appropriate weapon; raising armor skills requires being struck while wearing the appropriate type of armor; etc. Training involves paying cash to NPCs in exchange for immediate proficiency increases in that skill. Study requires reading books found in the game, some of which will immediately raise a skill when read. Weaponry skills (viz. Short Blade, Long Blade, Axe, etc.) affect the character's chance to hit. Armor skills (viz. Heavy Armor, Light Armor, Unarmored, etc.) affect the defensive strength of the armor. Other skills (viz. Alchemy, Athletics, Security) affect proficiency at other actions such as potion-making, running, lockpicking, etc.
      %p Morrowind, like its predecessor Daggerfall, makes a distinction between "attributes" and "skills"; skills being those individual proficiencies in particular schools of battle or with particular armor classes, and attributes being broader proficiencies, such as "strength" and "endurance", which are either tied to important features unconnected to any skill, (viz. Health, evasion chance, etc.) or improve the efficiency of a wide variety of skills. Strength, for example, improves the damage of any physical blow dealt by the player character. Attributes, however, are improved only when the player levels up.
      %p The player levels up their character by gaining levels in ten pre-determined skills, listed as 'major' and 'minor' skills. Each time the player levels up their character, they can select three attributes to augment as well. The player is better able to augment attributes related to their skill set, as each level gained in a particular skill adds to the multiplier by which the attribute is augmented.
  #sidebar
    .title
      %h3 Navigation
    %ul
      %li Home
      %li Store
      %li Downloads
      %li Support
      %li About

  #legal
    %p All data appropriated from Wikipedia.
