#main
  #banner
    #mini_banner
      Follow me on Twitter:
      %a{:href => "http://www.twitter.com/michaeltomer"} http://www.twitter.com/michaeltomer
    %h1 My Awesome Title
    %h2 Is Floating on this Cool Background
  #content
    %h1 The Bog Turtle
    %p The bog turtle (Glyptemys muhlenbergii) is a semiaquatic turtle that is endemic to the eastern United States. It was discovered in Pennsylvania in the 18th century and first scientifically described in 1801. It is the smallest North American turtle, measuring about 10 centimeters (4 in) long when fully grown. Although the bog turtle is similar in appearance to the painted or spotted turtles, its closest relative is the somewhat larger wood turtle. The bog turtle can be found from Vermont in the north south to Georgia and west to Ohio. Diurnal and secretive, it spends most of its time buried in mud and, during the winter months, in hibernation. The bog turtle is omnivorous, feeding mainly on small invertebrates.
    %img{:src => "Bog_Turtle.jpg"}
    %p Adult bog turtles weigh 110 grams (3.9 oz) on average. Their skins and shells are typically dark brown, with a distinctive orange spot on each side of the neck. Considered threatened at the federal level, the bog turtle is protected under the United States' Endangered Species Act. Invasive plants and urban development have eradicated much of the bog turtle's habitat, substantially reducing its numbers. Demand for the bog turtle is high in the black market pet trade, partly because of its small size and unique characteristics. Various private projects have been undertaken in an attempt to reverse the decline in the turtle's population.
    %p The turtle has a low reproduction rate; females lay an average of three eggs per clutch and lay one clutch per year. The young tend to grow rapidly, reaching sexual maturity between the ages of 4 and 10 years old. Bog turtles live for an average of 20 to 30 years in the wild. Since 1973, the Bronx Zoo has successfully bred bog turtles in captivity.
    %h2 Taxonomy
    %p The bog turtle was discovered in the 18th century, by Gotthilf Heinrich Ernst Muhlenberg, a self-taught botanist and clergyman. Muhlenberg, who named more than 150 North American plant species, was conducting a survey of the flora of Lancaster County when he discovered the small turtle. In 1801, Johann David Schoepff named Muhlenberg's discovery as Testudo muhlenbergii.[1][2]
    %p In 1829, Richard Harlan renamed the turtle Emys muhlenbergii. The species was subsequently renamed to Calemys muhlenbergii by Louis Agassiz in 1857, and to Clemmys muhlenbergii by Henry Watson Fowler in 1906.[3] Synonyms include Emys biguttata, named in 1824 by Thomas Say on the basis of a turtle from the vicinity of Philadelphia, and Clemmys nuchalis, described by Dunn in 1917 from near Linville, North Carolina.[4] Today, there are various names for the bog turtle, including mud turtle, marsh turtle, yellowhead, and snapper.[5]
    %p The genus name was changed to Glyptemys in 2001. The bog turtle and the wood turtle, Glyptemys insculpta, had until then been included in the genus Clemmys, which also included spotted turtles (C. guttata) and western pond turtles (C. marmorata).[6] Nucleotide sequencing and ribosomal DNA analyses suggested that bog turtles and wood turtles are closely related, but neither is directly related to spotted turtles, hence the separation of the genus Glyptemys.[7]
    %h3 Content
    %p All information in this template comes directly from Wikipedia.